.userPhoto {
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selectedPage {
    font-size: 34px;
    font-weight: bold;
}

.noSelectedPage {
    font-size: 20px;
    cursor: pointer;
    font-weight: lighter;
}
