.login {
    background: #ffc600;
    outline: none;
    font-weight: bold;
    padding: 10px 18px;
    border: 1px solid #e6b200;
    letter-spacing: 1px;

}

.error {
    border: 1px solid #d30e31;
    color: #d30e31;
}